<h1>******** Welcome to the <strong> Longest Word</strong> ********</h1>
<p>Here is your answer : <bold><%= @answer.upcase%><bold></p>

<h2>Results</h2>
<p><%=@time_taken%> start time!</p>
<p><%=@score%> points!</p>
<p><%=@message%> !</p>

<a href="/longest_word/game"> Try again</a>
